<p id=”notice”><%= notice %></p>
<h1>Welcome,</h1>
<h1><%= session['user_fName']%></h1>
<div class='locations'>
  <table>
    <tr>
      <td>Location Name</td>
      <td></td>
    </tr>
  </table>
</div>
